.HeaderWrapper {
    background-color: black;
    color: white;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 393px;
    box-sizing: border-box;
}

.HeaderImg {
    position: absolute;
    z-index: 0;
    width: 100%;
    background-color: black;
    
}

.Header {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 362px;
    padding: 16px 0;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    text-shadow: 10px 10px 20px rgb(0, 0, 0),
        -10px -10px 20px rgb(0, 0, 0),
        10px -10px 20px rgb(0, 0, 0),
        -10px 10px 20px rgb(0, 0, 0);
}

@media (min-width: 321px) {
    .Header {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 320px) {
    .Header {
        padding-left: 16px;
        padding-right: 16px;
    }
}


.CompanyInfoWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.CompanyName {
    font-family: Helvetica;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

    margin-bottom: 8px;
    white-space: nowrap;
}

.CompanyAbout {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 3px;
}

.LinksWrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
}



.Link {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: right;
    text-decoration: underline;
    position: relative;
}

.LinkActive {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    text-decoration: none;
    position: relative;
}

.liquidateCount {
    text-decoration: none;
    position: absolute;
    top: -5px;
    right: -20px;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid white;
    padding: 1px;
    margin: 0;
}

.LinkActive .liquidateCount {
    border: none;
}