.LiquidationWrapper{
    width: 100%;
        background-color: rgb(255, 255, 255);
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 0;
}

.Liquidation{
        margin: 0 auto;
            max-width: 1000px;
            min-width: 362px;
            padding: 16px 30px;
        }

 .AsteroidsBlock {
    margin: 0 auto;
        max-width: 1000px;
        min-width: 362px;
        padding: 16px 30px;


     display: flex;
     flex-wrap: wrap;
     gap: 16px;

 }


 .AsteroidLiquidate {
     /* Auto layout */

     /* display: flex;
    flex-direction: row;
    align-items: center; */
     padding: 2px 11px;
     margin-left: 16px;
     /* gap: 2px; */

     /* width: min-content; */
     height: 24px;

     /* Blue Base */

     background: #186DD6;
     border-radius: 24px;




     /* Text */


     /* width: 88px; */
     /* height: 20px; */

     font-family: 'Helvetica';
     font-style: normal;
     font-weight: 700;
     font-size: 11px;
     line-height: 20px;
     /* identical to box height, or 182% */

     display: flex;
     align-items: center;
     letter-spacing: 1px;
     text-transform: uppercase;

     /* White Base */

     color: #FFFFFF;



 }