.button {
    /* Auto layout */

    /* display: flex;
    flex-direction: row;
    align-items: center; */
    padding: 2px 11px;
    /* gap: 2px; */

    /* width: min-content; */
    height: 24px;

    /* Blue Base */

    background: #186DD6;
    border-radius: 24px;




    /* Text */


    /* width: 88px; */
    /* height: 20px; */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 20px;
    /* identical to box height, or 182% */

    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    /* White Base */

    color: #FFFFFF;



}