.Footer{
    width: 100% ;
}


.Copyright {
        margin: 0 auto;
        max-width: 1000px;
        min-width: 362px;
        padding: 16px 30px;

        margin-top: 50px;
        


     font-family: Helvetica;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}