.MainWrapper {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

@media (min-width: 321px) {
  .MainWrapper {
    margin: 0 30px;
  }
}

@media (max-width: 320px) {
  .MainWrapper {
    margin: 0 16px;
  }
}


.Main {
  margin: 0 auto;
  max-width: 1000px;
  min-width: 362px;

  margin-top: 24px;
    /* Ближайшие подлёты */
  
  
    /* width: 288px; */
    height: 28px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;

}